html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-layout {
    min-height: 100vh;
}

main {
    min-height: 100vh;
}

.content {
    min-height: 100vh;
    padding-top: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.6rem 1.25rem 0.7rem 3.7rem;
    background: lightyellow;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    color: white;
    background: url(data:image/svg+xml;base64,...skipped...) no-repeat 1rem/1.8rem, #b32121;
}

    #blazor-error-ui .dismiss {
        position: absolute;
        top: 0.5rem;
        right: 0.75rem;
        cursor: pointer;
    }

.blazor-error-boundary::after {
    content: "An error has occurred.";
}

code {
    color: #c02d76;
}

#loader {
    position: fixed;
    inset: 0;
    background-color: #111827;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    height: 100vh;
}

#container {
    text-align: center;
}

.loading-text {
    font-size: 2rem;
    font-weight: bold;
    color: orange;
    letter-spacing: 0.1em;
}

    .loading-text .letter {
        display: inline-block;
        animation: bounce 1.2s infinite ease-in-out;
    }

        .loading-text .letter:nth-child(1) {
            animation-delay: 0s;
        }

        .loading-text .letter:nth-child(2) {
            animation-delay: 0.1s;
        }

        .loading-text .letter:nth-child(3) {
            animation-delay: 0.2s;
        }

        .loading-text .letter:nth-child(4) {
            animation-delay: 0.3s;
        }

        .loading-text .letter:nth-child(5) {
            animation-delay: 0.4s;
        }

        .loading-text .letter:nth-child(6) {
            animation-delay: 0.5s;
        }

        .loading-text .letter:nth-child(7) {
            animation-delay: 0.6s;
        }

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(-10px);
        opacity: 0.6;
    }
}
