html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    scroll-behavior: smooth;
    height: 100%;
}

.snap-container {
    scroll-snap-type: y mandatory;
    overflow-y: hidden;
    min-height: 100vh;
    scroll-behavior: smooth;
}

.snap-section {
    scroll-snap-align: start;
    min-height: 100vh;
    width: 100%;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: blue;
    border-color: #1861ac;
}
    .btn-primary:hover {
        background-color: #1b6ec2;
    }

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.6rem 1.25rem 0.7rem 3.7rem;
    background: lightyellow;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    color: white;
    background: url(data:image/svg+xml;base64,...skipped...) no-repeat 1rem/1.8rem, #b32121;
}

    #blazor-error-ui .dismiss {
        position: absolute;
        top: 0.5rem;
        right: 0.75rem;
        cursor: pointer;
    }

.blazor-error-boundary::after {
    content: "An error has occurred.";
}

code {
    color: #c02d76;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111827;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    width: 60px;
    height: 60px;
    position: relative;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: orange;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    animation: bounce 2s infinite ease-in-out;
}

.double-bounce2 {
    animation-delay: -1s;
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0.0);
    }

    50% {
        transform: scale(1.0);
    }
}

.dot-navigation {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 1000;
    padding-right: 2rem;
}

    .dot-navigation ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .dot-navigation ul li {
            margin: 12px 0;
        }

    .dot-navigation button.dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: none;
        background-color: #bbb;
        cursor: pointer;
        outline: none;
        transition: background-color 0.3s ease;
    }

        .dot-navigation button.dot.active,
        .dot-navigation button.dot:hover {
            background-color: orange;
        }
