.home-hero {
    position: relative;
    min-height: 100vh;
    width: 100%;
    height: 100vh;
    background-color: var(--home-bg);
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    margin-bottom: 0;
    gap: 2rem;
}
    .home-hero::before {
        content: "";
        position: absolute;
        inset: 0;
        background: radial-gradient(circle at top left, rgba(255, 165, 0, 0.05), transparent), radial-gradient(circle at bottom right, rgba(0, 255, 255, 0.05), transparent);
        z-index: 0;
    }

.welcome-text {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: var(--navbar-text);
}

.text-section h1 {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--navbar-text);
}

.hello-text {
    color: orange;
}

.subtitle {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--navbar-text);
}

.hero-photo {
    width: 100%;
    max-width: 400px;
    max-height: 500px;
    transition: filter 0.4s ease, mask-image 0.4s ease;
    mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
}

.hero-buttons {
    text-transform: uppercase;
}
    .hero-buttons a {
        font-size: 1rem;
    }

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fadeIn 1s ease-in-out forwards;
}

.animate-fade-up {
    position: relative;
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    z-index: 1;
}

.delay-1 {
    animation-delay: 0.3s;
}

.delay-2 {
    animation-delay: 0.6s;
}

.delay-3 {
    animation-delay: 1s;
}

@media (max-width: 768px) {
    .home-hero {
        text-align: center;
        padding-inline: 1.2rem;
    }

    .text-section {
        padding-left: 0;
    }

        .text-section h1 {
            font-size: 2rem;
        }

    .hero-photo {
        max-width: 250px;
        margin-top: 1.5rem;
    }

    .hero-image-wrapper {
        transform: translateX(15px);
    }

    .mt-4.d-flex {
        flex-direction: column;
        gap: 1rem;
    }
}

@media (min-width: 769px) {
    .text-section {
        padding-left: 150px;
    }

    .hero-image-wrapper {
        transform: translateX(15px);
    }

    .home-hero {
        flex-direction: row;
        align-items: center;
    }
}
