@page "/"

<DotNavigation />

<div class="snap-container">
    <section class="snap-section fade-in" id="home">
        <HomeSection />
    </section>
    <section class="snap-section fade-in" id="about">
        <AboutSection />
    </section>
    <section class="snap-section fade-in" id="skills">
        <SkillsSection />
    </section>
    <section class="snap-section fade-in" id="education">
        <EducationSection />
    </section>
    <section class="snap-section fade-in" id="experience">
        <ExperienceSection />
    </section>
    <section class="snap-section fade-in" id="projects">
        <ProjectsSection />
    </section>
    <section class="snap-section" id="contact">
        <ContactSection />
    </section>
</div>