@page "/"

<div class="snap-container">
    <section class="snap-section" id="home">
        <HomeSection />
    </section>
    <section class="snap-section" id="about">
        <AboutSection />
    </section>
    <section class="snap-section" id="skills">
        <SkillsSection />
    </section>
    <section class="snap-section" id="education">
        <EducationSection />
    </section>
    <section class="snap-section" id="experience">
        <ExperienceSection />
    </section>
</div>

<nav class="dot-navigation">
    <ul>
        <li><button @onclick='() => ScrollToSection("home")' class="dot" id="dot-home" aria-label="Home Section"></button></li>
        <li><button @onclick='() => ScrollToSection("about")' class="dot" id="dot-about" aria-label="About Section"></button></li>
        <li><button @onclick='() => ScrollToSection("skills")' class="dot" id="dot-skills" aria-label="Skills Section"></button></li>
        <li><button @onclick='() => ScrollToSection("education")' class="dot" id="dot-education" aria-label="Education Section"></button></li>
        <li><button @onclick='() => ScrollToSection("experience")' class="dot" id="dot-experience" aria-label="Experience Section"></button></li>
    </ul>
</nav>