@inherits LayoutComponentBase

<link href="css/admin/adminlayout.css" rel="stylesheet" />

<div class="admin-layout">
    <Sidebar IsHidden="isSidebarHidden" />

    <div class="dashboard-container">
        <Navbar OnToggleSidebar="ToggleSidebar" />

        <div class="admin-content">
            @Body
        </div>
    </div>
</div>