@inherits LayoutComponentBase

<link href="css/adminlayout.css" rel="stylesheet" />

<div class="admin-layout">
    <Sidebar IsHidden="isSidebarHidden" />

    <div class="dashboard-container">
        <Navbar OnToggleSidebar="ToggleSidebar" />

        <div class="admin-content">
            @Body
        </div>
        <footer class="admin-footer">
            <small>© 2025 Dilmurod Developer</small>
        </footer>
    </div>
</div>