<link href="css/adminsidebar.css" rel="stylesheet" />

<aside class="sidebar" style="display:@(IsHidden ? "none" : "block")">
    <div class="sidebar-header">
        <h2 class="text-center text-uppercase">Dilmurod.Dev</h2>
    </div>
    <nav class="sidebar-nav">
        <NavLink href="/admin/dashboard" class="nav-item text-uppercase" activeclassname="active">
            <i class="fas fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </NavLink>
        <NavLink href="/admin/projects" class="nav-item text-uppercase" activeclassname="active">
            <i class="fas fa-briefcase"></i>
            <span>Projects</span>
        </NavLink>
        <NavLink href="/admin/blogs" class="nav-item text-uppercase" activeclassname="active">
            <i class="fas fa-blog"></i>
            <span>Blogs</span>
        </NavLink>
        <NavLink href="/admin/messages" class="nav-item text-uppercase" activeclassname="active">
            <i class="fas fa-envelope"></i>
            <span>Messages</span>
        </NavLink>
    </nav>
</aside>