@using MyPortfolio.Client.Services
@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject LanguageService Lang

<div class="main-container">
    <NavMenu />
    <main class="layout-body">
        @Body
    </main>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("hideLoader");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var culture = await JS.InvokeAsync<string>("localStorage.getItem", "lang") ?? "en-US";
        await Lang.LoadAsync(culture);
    }
}